.primary_button {
	padding: 12px 23px;
	background-color: $mainorange;
	color: #fff;
	font-size: 14px;
	border: 1px solid darken($mainorange,20%);
	
	&:hover {
		color: #fff;
		background-color: darken($mainorange,5%);
	}
}


.secondary_button {
	padding: 12px 23px;
	background-color: $mainblue;
	color: #fff;
	font-size: 14px;
	border: 1px solid darken($mainblue,20%);
	
	&:hover {
		color: #fff;
		background-color: darken($mainblue,5%);
		background: none;
	}
}


.support_button {
	padding: 12px 23px;
	background-color: $darkgrey;
	color: #fff;
	font-size: 14px;
	border: 1px solid darken($darkgrey,20%);
	
	&:hover {
		color: #fff;
		background-color: darken($darkgrey,5%);
	}
}


.clear_button {
	padding: 12px 23px;
	color: #fff;
	font-size: 14px;
	border: 1px solid #fff;
	
	&:hover {
		color: #fff;
		background-color: $mainblue;
		border: 1px solid $mainblue;
	}
}

.page {
	.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button {
		padding: 12px 23px;
		color: #fff;
		font-size: 14px;
		border: 1px solid darken($mainblue,20%);
		display: inline-block;
		margin-top: 20px;
		background: none;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		text-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background: $mainblue;
		background-color: $mainblue;
		
		&:hover {
			color: #fff;
			background-color: darken($mainblue,5%);
			background: darken($mainblue,5%);
		}
	}
}
