/* Main stock styles */
body {
	background-image: url('../images/pattern.jpg');
}

.clear {
	clear: both;
}

.wrapper {
	background-image: url('../images/pattern.jpg');
	padding: 15px 5%;
}

.boxed {
	padding: 30px;
	max-width: 70rem;
	border: 1px solid $lightgrey;
	-webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,.1); box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
}

.full {
	padding: 20px 30px;
	max-width: 70rem;
}

.left-line {
	border-left: 1px solid $darkgrey;
	padding-left: 0px;
}

.right-line {
	border-right: 1px solid $darkgrey;
	padding-right: 0px;
}


img.avatar {
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
}

.f-dropdown {
	padding: 10px;
	 p {
	 	font-size: 12px;
		line-height: 20px;
		margin-bottom: 5px;
	 }

	 a {
	 	color: $mainblue;
	 	text-decoration: underline;
	 }

	 a.delete {
	 	padding: 10px 10px;
	 	display: block;
	 	text-align: center;
		background-color: $mainorange;
		color: #fff;
		font-size: 14px;
		border: 1px solid darken($mainorange,20%);
		font-size: 12px;
		text-decoration: none;
		
		&:hover {
			color: #fff;
			background-color: darken($mainorange,5%);
			text-decoration: none;
		}
	 }
}

.row-content {
	h2 {
		text-transform: uppercase;
		font-size: 30px;
		padding-bottom: 5px;
		font-weight: bold;
		color: $mainblue;
	}
	
	h3 {
	
	}

	h4 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
		color: $darkgrey;
		padding-bottom: 20px;
	}
	
	p {
		color: $darkgrey;
		font-size: 14px;
	}
	
	blockquote {
		border: 0px;
		margin-left: 0px;
		text-indent: 0px;
		padding: 0px;
		font-style: italic;
	}
	
	cite {
		font-size: 12px;
		color: lighten($grey, 20%);
		display: block;
	}
	
	p > a {
		margin-top: 15px;
		display: inline-block;
	}
	
	.support_link {
		margin-bottom: 5px;
	}
	
	.support_link a {
		margin-top: 5px;
		color: lighten($grey, 10%);
		text-decoration: underline;
	}

}

.content .nav-row {
	padding: 0px 0px 0px 0px;
	border: 0px;
}

.accordion dd > a {
	background: none;
	color: $mainblue;
	text-decoration: underline;
	padding: 0px;
	padding-bottom: 10px;
}

.accordion dd > a i {
	margin-left: -17px;
	padding-right: 10px;
	color: $lightgrey;
}

.accordion dd > a:hover {
	background: none;
}


.accordion {
	.padding-left: 10px;

	.content {
		border: 0px;
		padding: 0px;
		-webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.1); box-shadow: 0 0px 0px 0 rgba(0,0,0,.1);
		background-color: transparent;
		background: transparent;
		
		p {
			color: $grey;
			font-size: 14px;
		}
	}
	
	.content.active {
		background-color: transparent;
		background: transparent;
	}
}


.footer-wrapper {

	background-image: url('../images/pattern.jpg');

	.row {
		padding: 20px 0px;
		border: 0px;
	}
	
	h3 {
		color: darken($lightgrey, 20%);
		text-transform: uppercase;
		font-weight: bold;
		padding-top: 10px;
	}
	
	p {
		color: darken($lightgrey, 20%);
		font-size: 14px;
		margin-bottom: 0px;
	}
	
	a {
		color: $mainblue;
		text-decoration: underline;
	}

	h5 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 15px;
		color: $grey;
		margin-bottom: 15px;
	}
	
	p {
		font-size: 12px;
		line-height: 20px;
		
		a {
			margin-bottom: 5px;
			display: block;
			color: $grey;
			text-decoration: none;
		}
	}
	
	.logo {
	
		img {
			margin-bottom: 10px;
		}
	
		p {
			font-size: 10px;
		}
	}
	
	.row .columns {
		margin-bottom: 20px;
	}
}


.row .page-title {
	margin-left: 0px;
	margin-bottom: 30px;

	h1 {
		color: $grey;
		font-size: 40px;
	}
}


.content-row {
	background-image: url('../images/pattern.jpg');
	padding: 40px 0px;
	max-width: 70rem;

	.page-main-content {
			margin-bottom: 80px;

		.orbit-container {
			
		}

		h1, h2, h3, h4, h5, h6 {
			color: $grey;
			font-weight: bold;
			text-transform: uppercase;
			margin-top: 0px;
		}

		h1 {
			color: $mainblue;
			font-size: 30px;
			margin-bottom: 30px;
		}

		h2 {
			font-size: 30px;
		}

		h3 {
			font-size: 20px;
		}

		h4, h5, h6 {
			font-size: 15px;
		}

		table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
			border: 1px solid $lightgrey;
		}

		.tabs-content {
			background: #fff;
			border: 1px solid $lightgrey;
			border-top: 0px;
			padding: 30px;
		}

		.tabs dd {
			border: 1px solid $lightgrey;
		}

		.panel {
			background-color: #fff;
			padding: 30px;
		}
	}

	.page-sidebar {

		.ad {
			background-color: #fff;
			border: 1px solid $lightgrey;
			padding: 30px;
			margin-bottom: 30px;
			z-index: 1;
			position: relative;

			h1 {
				font-size: 30px;
				color: $mainblue;
				z-index: 1;
				position: relative;
			}

			h2 {
				font-size: 20px;
				color: $grey;
				z-index: 1;
				position: relative;
			}

			h3 {
				font-size: 20px;
				color: $grey;
				z-index: 1;
				position: relative;
			}

			p {
				color: $grey;
				line-height: 1.6;
				z-index: 1;
				position: relative;
			}

			a {
				display: inline-block;
				margin: 20px 0px;
				z-index: 1;
				position: relative;
			}

			&:after {
			  content: "";
			  background-color: $mainblue;
			  opacity: 0.6;
			  top: 0;
			  left: 0;
			  bottom: 0;
			  right: 0;
			  position: absolute;
			  z-index: 0; 
			 }  
		}

		.banner {
			img {
				margin: 0px 0px 10px 0px;
				z-index: 99999;
			}

			h1 {
				color: #fff;
			}

			h2 {
				color: #fff;
			}

			h3 {
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
			}

			p {
				color: #fff;
				margin-bottom: 15px;
			}
		}

		.contact {
			padding-left: 8%;

			p {
				color: darken($lightgrey, 20%);
				display: block;
				float: left;
				font-size: 12px;
				width: 100%;
			}

			.side-logo {
				display: block;
				width: 100%;
			}
			
			img {
				width: 50% !important;
				margin-bottom: 15px;
			}
		}
	}
}


.case-study {
	background-color: $lightgrey;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	padding-top: 50px;
	-webkit-box-shadow: inset 0 -2px 20px 2px rgba(0, 0, 0, 0.1); 
	box-shadow: inset 0 -2px 20px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;

	h5 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 13px;
	}

	h2 {
		font-size: 25px;
		text-align: center;
	}

	p {
		text-align: center;
	}

	img {
		width: 100%;
		border: 1px solid $grey;
	}
}




/* Content specific styles */

.print {
	margin-top: 25px;

	.marketing-content {
		padding-top: 110px;
	}
}

.craft {

	.row-image {
		margin-right: 0px;
		margin-left: 0px;

		.embed-container {
			position: relative;
	   	 	padding-bottom: 50.4%;
	   		padding-top: 29px; /* IE6 workaround*/
	    	height: 0;
	    	overflow: hidden;
	    	border: 1px solid $grey;

			iframe {
				position: absolute;
	    		top: 0;
	    		left: 0;
	    		width: 100%;
	    		height: 100%;
			}
   		}
		
		img {
			width: 100%;
		}
	}

	.row {
		padding: 30px 0px;
	}
}


.portfolio {
	background-image: url('../images/banner-bg.jpg'); 
	padding: 50px 30px;

	.row {
		padding: 0px 0px 100px 0px;
	}

	p {
		padding-bottom: 0px;
	}

	.row-image {
		padding-right: 4%;

		img {
			width: 100%;
			border: 1px solid $darkgrey;
		}
	}

	.nav-row {
		padding: 0px 0px 10px 0px;
	}

	.row-content {

		h4 {
			padding-bottom: 0px;
			margin-top: 0px;
		}
	}
}

.portfolio-nav {
	padding-top: 0px;
}


.company {

	.row {
		padding: 50px 0px 0px 0px;
	}

	.row-content {
		padding-right: 4%;
	}
}

.letter {
	background-color: #fff;
	padding: 50px 50px 100px 50px;
	border: 1px solid $lightgrey;

	.avatar {
		 margin-right: 20px;
	} 

	.cite-author p {
		margin: 0px;
		font-size: 14px;
	}
}


.support {
	background-color: #fff;
}

.g7 {
	padding: 30px 0px;

	a {
		font-size: 12px;
		margin-top: 10px;
		display: block;
	}
}


.team {
	h3 {
		color: $grey;
		text-align: center;
	}
	
	p {
		text-align: center;
	}
	
	img {
		width: 100%;
	}

	a {
		color: $mainblue;
		text-decoration: underline;
	}
}


.post-type-archive-products, .single-products {
	.orbit-slides-container {
		height: 461px !important;
		overflow: hidden;

		img {
			width: 100%;
			border: 1px solid $lightgrey;
		}
	}

	.orbit-slide-number {
		display: none;
	}

	.panel {

		.primary_button, .secondary_button {
			display: block;
			text-align: center;
			margin-bottom: 10px;
		}

		p {
			color: $grey;

			a {
				color: lighten($grey, 20%);
				text-decoration: underline;
				font-size: 13px;
				display: block;
				line-height: 20px;

			}
		}
	}
}

.product-column {

	ul {
		width: 100%;
		display: block;
		margin-left: 0px;
		border-bottom: 1px solid $lightgrey;

		li {
			list-style: none;

			a {
				background-color: #fff;
				width: 100%;
				padding: 10px 15px 10px 15px;
				border: 1px solid $lightgrey;
				border-bottom: 0px;
				display: block;
				color: $grey;
				font-size: 14px;

				i {
					float: right;
				}

				&:hover {
					background-color: $verylightgrey;
				}
			}

			a.current-page-item {
				background-color: $lightgrey;
				border: 1px solid rgb(176, 176, 176);
			}
		}

		.current-page-item {
			a {
				background-color: $lightgrey;
			}
		}
	}
}


.single-products {
	
	img, a img {
		border: 1px sold $grey;
	}

	.main-img {
		margin-bottom: 20px;
	}

	[class*="block-grid-"] > li {
		margin: 0px;
	}
}

.content-row .page-main-content .project-content {
	h2 {
		color: $grey;
		font-weight: 100;
	}

	.client {
		color: $grey;
		font-style: italic;
	}

	.featured-image {
		width: 100%;
		margin-bottom: 20px;
	}

	img {
		border: 1px solid $grey;
	}

	.block-grid {
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
	}

	.block-grid > li {
		padding: 0px;
	}

	table {
		background-color: $verylightgrey;

		tr {
			background-color: $verylightgrey;

			td {
				font-size: 13px; 
				color: $grey;
				padding: 15px;

				a {
					color: $mainblue;
				}
			}
		}
	}

	$table-border-style: solid;
	$table-border-size: 1px;
	$table-border-color: $lightgrey;
}


.post-type-archive-projects {
	.content-row .page-main-content {

		.project-panel {
			background-color: $verylightgrey;
			width: 48%;
			float: left;
			border: 1px solid $lightgrey;
			margin-bottom: 15px;

			h2 {
				font-size: 20px;
			}

			p {
				margin: 0px;
			}

			&:nth-child(odd) {
				margin-right: 2%;
			}

			&:hover {
				background-color: #fff;
			}

			img {
				margin: 0px;
			}

			.project-panel-content {
				padding: 20px;
			}
		}
	}

	.product-column {
			h4 {
				text-align: left;
				font-size: 15px;
				line-height: 24px;
				color: $lightgrey;
			}

		.panel {
			background-color: transparent;
			border: 0px;

			i {
				display: block;
				text-align: center;
				font-size: 45px;
				margin-bottom: 15px;
				color: $lightgrey;
			}
		}
	}
}

.post-type-archive-support, .single-support {
	.content-row {
		padding-bottom: 0px;

		.page-title {
			margin-bottom: 0px;
		}

	}

	.columns {
		.support-links {
			.current-page-item {
				color: $lightgrey;

				a {
					color: $lightgrey;
					text-decoration: none;
				}
			}

			li  {
				color: $grey;

				a {
					color: $mainblue;
					text-decoration: underline;
					padding: 4px;
					display: block;
				}
			}
		}

		#s {
			padding: 30px;
			font-size: 16px;
		}

		.search-form #searchsubmit  {
			padding: 20px;
		}
	}

	.team {
		padding: 30px 0px;
	}

	.contact {
		background-color: $verylightgrey;
		color: $lightgrey;
		border: 1px solid $lightgrey;
		display: inline-block;
		text-align: center;
		padding: 15px 25px;
		font-size: 12px;
	}

	.support-answer {

		h2 {
			margin-bottom: 30px;
		}
	}
}

.single-support {

	.support-links {
		margin-bottom: 40px;
	}
}

#big-video-image {
	min-height: 100% !important;
	min-width: 100% !important;
	position: fixed !important; 
  	top: 0 !important; 
  	left: 0 !important; 
}

.search {
	.content-row .page-main-content {
		margin-bottom: 10px;
	}

	h1 span {
		color: #000;
		font-weight: 700;
	}

	a {
		color: $grey;

		&:hover {
			color: #000;
		}
	}

	p {
		margin-bottom: 5px;
	}

	.support_button {
		position: absolute;
		top: 0;
		right: 0;
		background-color: $verylightgrey;
		color: $grey;
		border: 1px solid $lightgrey;

		&:hover {
			background-color: #fff;
			color: $grey;
		}
	}
}

.page-template-page-business-php {
	.gform_wrapper .gform_footer.left_label {
		padding: 0px;
		width: 100%;
	}

	.gform_button {
		width: 100%;
		margin-top: 30px;
		padding: 20px
	}
}

.page-template-page-registration-php {

	.rcp_separator {
		display: none;
	}

	.rcp_price {
		display: none;
	}

	.rcp_level_duration {
		display: none;
	}

	#rcp_auto_renew_wrap {
		display: none !important;
	}

	.rcp_header {
		display: none;
	}

	.rcp_subscription_fieldset {
		border-top: 1px solid $lightgrey;
		padding-top: 30px;
		margin-top: 30px;
	}

	.rcp_subscription_level {
		margin-bottom: 10px;
	}

	#rcp_submit {
		background-color: $mainblue;
		border: 1px solid darken($mainblue, 20%);
		text-shadow: none;
		box-shadow: none;
		background: $mainblue;
		padding: 20px 30px;
		width: 100%;
		color: #fff;
		text-align: center;
		margin-top: 35px;
		display: block;
	}
}


@media only screen and (max-width: 40em) {
	.search {

		.support_button {
			position: relative;
			margin-bottom: 8px;
			display: inline-block;
		}
		
	}
}



/* Media Query styles */

@media only screen and (max-width: 40em) {
	.wrapper {
		padding: 15px 0px;
	}

	.not-mobile {
		display: none;
	}

	.row-content {
		background-color: #fff;
		padding: 15px 7% 0px 7%;
		
		h4 {
			padding-top: 0px;
			padding-bottom: 0px;
		}
		
		.primary_button, .secondary_button {
			display: block;
			text-align: center;
		}
	}
	
	.boxed {
		padding: 0px 5%;
		border: 0px;
	}
	
	.boxed {
		background-image: url('../images/pattern.jpg') !important;
		background-size: auto !important;
		border-top: 0px;
		-webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.1); box-shadow: 0 0px 0px 0 rgba(0,0,0,.1);
		
		.row {
			padding: 10px !important;
		
			.row-image {
				padding: 0px;
			}
			
			.icon-nav {
				display: none;
			}
		}
	}

	.row {
		.row-image {
			padding: 0px;
		}
	}
	
	.full {
		padding: 0px 5%;	
	}

	.print {
	margin-top: 25px;

		.marketing-content {
			padding-top: 0px;
		}

		.row-content {
			margin-top: 0px;
		}
	}
	
	.craft .row {
		padding: 0px 0px 0px 0px;
	}
	
	.craft .row-content {
		margin-top: 0px;
	}
	
	.portfolio .nav-row {
		padding: 0px 0px 0px 0px;
	}
	
	.support {
		background: #fff;
	}
	
	.letter {
		background-color: $verylightgrey;
		padding: 30px 10%;
		border: 1px solid $lightgrey;
	}
	
	.g7 img {
		float: left !important;
	}
	
	.banner-edge {
		display: none;
	}
	
	.footer {
		.logo {
			display: none;
		}
		
		.about {
			display: none;
		}

		.row {
			padding: 0px;
		}
	}
	
	.team {
		display: none;
	}

	.content-row {
		.page-sidebar {
			.contact {
				display: none;
			}
		}
	}

	.post-type-archive-projects {

		.panel { 
			width: 100%;
			margin-right: 0px;
		}
	}

	.post-type-archive-projects {
		.content-row .page-main-content {

			.project-panel {
				width: 100%;

				&:nth-child(odd) {
					margin-right: 0px;
				}
			}
		}
	}


}

