/* Main stock styles */
body {
	background-color: #fff;
}

.wrapper {
	background-image: url('../images/pattern.jpg');
	padding-bottom: 15px;
	padding-top: 15px;
}

.boxed {
	padding: 30px;
	max-width: 70rem;
	border: 1px solid $lightgrey;
	-webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,.1); box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
}

.full {
	padding: 20px 30px;
	max-width: 70rem;
}

.left-line {
	border-left: 1px solid $darkgrey;
	padding-left: 0px;
}

.right-line {
	border-right: 1px solid $darkgrey;
	padding-right: 0px;
}


img.avatar {
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
}

.row-content {
	h2 {
		text-transform: uppercase;
		font-size: 30px;
		padding-bottom: 5px;
		font-weight: bold;
		color: $mainblue;
	}
	
	h3 {
	
	}

	h4 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
		color: $darkgrey;
		padding-bottom: 20px;
	}
	
	p {
		color: $darkgrey;
		font-size: 14px;
	}
	
	blockquote {
		border: 0px;
		margin-left: 0px;
		text-indent: 0px;
		padding: 0px;
		font-style: italic;
	}
	
	cite {
		font-size: 12px;
		color: lighten($grey, 20%);
		display: block;
	}
	
	p > a {
		margin-top: 15px;
		display: inline-block;
	}
	
	.support_link {
		margin-bottom: 5px;
	}
	
	.support_link a {
		margin-top: 5px;
		color: lighten($grey, 10%);
		text-decoration: underline;
	}

}

.content .nav-row {
	padding: 0px 0px 0px 0px;
	border: 0px;
}

.accordion dd > a {
	background: none;
	color: $mainblue;
	text-decoration: underline;
	padding: 0px;
	padding-bottom: 10px;
}

.accordion dd > a:hover {
	background: none;
}


.accordion {

	.content {
		border: 0px;
		padding: 0px;
		-webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.1); box-shadow: 0 0px 0px 0 rgba(0,0,0,.1);
		background-color: transparent;
		background: transparent;
		
		p {
			color: $grey;
			font-size: 14px;
		}
	}
	
	.content.active {
		background-color: transparent;
		background: transparent;
	}
}


.footer-wrapper {

	background-image: url('../images/pattern.jpg');

	.row {
		padding: 20px 0px;
		border: 0px;
	}
	
	h3 {
		color: darken($lightgrey, 20%);
		text-transform: uppercase;
		font-weight: bold;
		padding-top: 10px;
	}
	
	p {
		color: darken($lightgrey, 20%);
		font-size: 14px;
		margin-bottom: 0px;
	}
	
	a {
		color: $mainblue;
		text-decoration: underline;
	}

	h5 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 15px;
		color: $grey;
		margin-bottom: 15px;
	}
	
	p {
		font-size: 12px;
		line-height: 20px;
		
		a {
			margin-bottom: 5px;
			display: block;
			color: $grey;
			text-decoration: none;
		}
	}
	
	.logo {
	
		img {
			margin-bottom: 10px;
		}
	
		p {
			font-size: 10px;
		}
	}
	
	.row .columns {
		margin-bottom: 20px;
	}
}







/* Content specific styles */


.craft {

	.row-image {
		margin-right: 0px;
		margin-left: 0px;

		.embed-container {
			position: relative;
	   	 	padding-bottom: 50.4%;
	   		padding-top: 29px; /* IE6 workaround*/
	    	height: 0;
	    	overflow: hidden;
	    	border: 1px solid $grey;

			iframe {
				position: absolute;
	    		top: 0;
	    		left: 0;
	    		width: 100%;
	    		height: 100%;
			}
   		}
		
		img {
			width: 100%;
		}
	}

	.row {
		padding: 30px 0px;
	}
}


.portfolio {
	background-image: url('../images/banner-bg.jpg'); 

	.row {
		padding: 0px 0px 100px 0px;
	}

	p {
		padding-bottom: 0px;
	}

	.row-image {
		padding-right: 4%;

		img {
			width: 100%;
			border: 1px solid $darkgrey;
		}
	}

	.nav-row {
		padding: 0px 0px 10px 0px;
	}

	.row-content {

		h4 {
			padding-bottom: 0px;
			margin-top: 0px;
		}
	}
}

.portfolio-nav {
	border-top: 1px solid $lightgrey;
	padding-top: 20px;
}


.company {

	.row {
		padding: 50px 0px 0px 0px;
	}

	.row-content {
		padding-right: 4%;
	}
}

.letter {
	background-color: #fff;
	padding: 50px 50px 100px 50px;
	border: 1px solid $lightgrey;

	.avatar {
		 margin-right: 20px;
	} 

	.cite-author p {
		margin: 0px;
		font-size: 14px;
	}
}


.support {
	background-color: #fff;
}

.g7 {

	a {
		font-size: 12px;
		margin-top: 10px;
		display: block;
	}
}


.team {
	h3 {
		color: $grey;
		text-align: center;
	}
	
	p {
		text-align: center;
	}
	
	img {
		width: 100%;
	}
}





/* Media Query styles */

@media only screen and (max-width: 40em) {
	.not-mobile {
		display: none;
	}

	.row-content {
		background-color: #fff;
		padding: 15px 7% 0px 7%;
		
		h4 {
			padding-top: 0px;
			padding-bottom: 0px;
		}
		
		.primary_button, .secondary_button {
			display: block;
			text-align: center;
		}
	}
	
	.boxed {
		padding: 0px 5%;
		border: 0px;
	}
	
	.boxed {
		background-image: url('../images/pattern.jpg') !important;
		background-size: auto !important;
		border-top: 0px;
		-webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.1); box-shadow: 0 0px 0px 0 rgba(0,0,0,.1);
		
		.row {
			padding: 10px !important;
		
			.row-image {
				padding: 0px;
			}
			
			.icon-nav {
				display: none;
			}
		}
	}

	.row {
		.row-image {
			padding: 0px;
		}
	}
	
	.full {
		padding: 0px 5%;	
	}
	
	.craft .row {
		padding: 0px 0px 0px 0px;
	}
	
	.craft .row-content {
		margin-top: 0px;
	}
	
	.portfolio .nav-row {
		padding: 0px 0px 0px 0px;
	}
	
	.support {
		background: #fff;
	}
	
	.letter {
		background-color: $verylightgrey;
		padding: 30px 10%;
		border: 1px solid $lightgrey;
	}
	
	.g7 img {
		float: left !important;
	}
	
	.banner-edge {
		display: none;
	}
	
	.footer {
		.logo {
			display: none;
		}
		
		.about {
			display: none;
		}

		.row {
			padding: 0px;
		}
	}
	
	.team {
		display: none;
	}

}

