.woocommerce {

	.myaccount_address {
		margin-bottom: 40px;
	}
}

.calculator-button {
	background-color: $verylightgrey;
	padding: 30px 30px 50px 30px;
	border: 1px solid $lightgrey;
	text-align: center;

	i {
		width: 100%;
		text-align: center;
		font-size: 140px;
		margin-bottom: 10px;
		color: $lightgrey;
	}

	h3 {

	}

	p {

	}

	a {
		display: inline-block;
	}
}

.save-quotes {
	.view-all {
		color: $mainblue;
		display: block;
		text-align: right;
	}

	ul {
		margin: 0px;

		li {
			list-style: none;
			display: block;
			padding: 14px 20px 10px 20px;
			border: 1px solid $lightgrey;
			border-bottom: 0px;
			background-color: $verylightgrey;

			a {
				color: $grey;

				&:hover {
					color: $mainblue;
				}
			}

			span {
				float: right;
				color: $grey;
				font-size: 11px;

				a {
					font-size: 11px;
					padding-left: 2px;
					padding-right: 2px;

					&:hover {
						color: $mainblue;
						text-decoration: underline;
					}
				}

				.quote-cart {
					padding: 5px 10px;
					color: #fff;
					margin-left: 15px;

					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}

				.quote-delete {
					color: $red;

					&:hover {
						color: darken($red, 10%);
					}
				}
			}
		}

		li:last-child {
			border-bottom: 1px solid $lightgrey;
		}
	}
}

#cost {
	.support_button {
		display: block;
		margin: 10px 0px;
		text-align: center;
		color: $lightgrey;
		background-color: $verylightgrey;
		border: 1px solid $lightgrey;
	}

	input[type="submit"] {
		width: 100%;
		display: block;
	}
}

#cost-total {
	background-color: #fff;
	border: 1px solid $lightgrey;
	padding: 30px;
	display: block;

	li {
		list-style: none;
	}

	.slider {
  		width: 100%;
	}

	#field_2_29 {
		width: 100%;
		display: block;
		background-color: $verylightgrey;
		border: 1px solid lighten( $lightgrey, 10% );
		margin: 45px 0px 20px 0px;
		padding: 30px;

		label {
			text-align: center;
			width: 100%;
		}

		span {
			font-size: 35px;
			text-align: center;
			width: 100%;
			display: block;
			color: $grey;
		}

		.ginput_product_price_label  {
			display: none;
		}
	}

	.percent label {
		margin-bottom: 15px;
	}

	input[type="range"] {
	  -webkit-appearance: none !important;
	  width: 100%;
	  height: 10px;
	  background-color: $verylightgrey;
	  border: 1px solid $lightgrey;
	  border-radius: 3px;
	  margin: auto;
	  transition: all 0.3s ease;

	}

	.instruction {
	  display: none;
	}

	input[type="range"] {
	  width: 80%;
	  float: left;
	  z-index: 99999999;
	}

	input[type="range"]:hover {
	  background-color: $lightgrey;
	}

	input[type="range"]::-webkit-slider-thumb {
	  -webkit-appearance: none !important;
	  width: 20px;
	  height: 20px;
	  background-color: $lightgrey;
	  border-radius: 30px;
	  transition: all 0.5s ease;
	  outline: none;
	  display: block;
	  border: 1px solid $grey;

	  &:focus {
		  outline-color: transparent;
		  outline-style: none;
		}
	}

	input[type="range"]::-webkit-slider-thumb:hover {
	  background-color: $lightgrey;
	}

	input[type="range"]::-webkit-slider-thumb:active {
	  box-shadow: 0px 0px 0px #3c6d59;
	}

	#rangevalue {
	  width: 20%;
	  float: right;
	  text-align: right;
	  font-family: "Quantico", sans-serif;
	  font-size: 18px;
	  display: block;
	  margin: auto;
	  padding: 0px;
	  color: $grey;
	  font-size: 15px;

	  &:after {
	  	content: '%';
	  }
	}

	#field_2_34 {
		display: none;
	}

	#field_2_33 {
		display: none;
	}

	.ginput_product_price_label {
		display: none;
	}

	#field_2_30, #field_2_32 {
		width: 50%;
		float: left;
		text-align: center;
		color: $lightgrey;

		label {
			color: $lightgrey;
		}
	}

}

@media only screen and (max-width: 40em) {
	#cost {
		width: auto !important;
		position: static !important;
		top: 0px !important;
	}
}
