.woocommerce {

	.myaccount_address {
		margin-bottom: 40px;
	}
}

.calculator-button {
	background-color: $verylightgrey;
	padding: 30px 30px 50px 30px;
	border: 1px solid $lightgrey;
	text-align: center;

	i {
		width: 100%;
		text-align: center;
		font-size: 140px;
		margin-bottom: 10px;
		color: $lightgrey;
	}

	h3 {

	}

	p {

	}

	a {
		display: inline-block;
	}
}

.save-quotes {
	.view-all {
		color: $mainblue;
		display: block;
		text-align: right;
	}

	ul {
		margin: 0px;

		li {
			list-style: none;
			display: block;
			padding: 14px 20px 10px 20px;
			border: 1px solid $lightgrey;
			border-bottom: 0px;
			background-color: $verylightgrey;

			a {
				color: $grey;

				&:hover {
					color: $mainblue;
				}
			}

			span {
				float: right;
				color: $grey;
				font-size: 11px;

				a {
					font-size: 11px;
					padding-left: 2px;
					padding-right: 2px;

					&:hover {
						color: $mainblue;
						text-decoration: underline;
					}
				}

				.quote-cart {
					padding: 5px 10px;
					color: #fff;
					margin-left: 15px;

					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}

				.quote-delete {
					color: $red;

					&:hover {
						color: darken($red, 10%);
					}
				}
			}
		}

		li:last-child {
			border-bottom: 1px solid $lightgrey;
		}
	}
}

#cost-total {
	background-color: #fff;
	border: 1px solid $lightgrey;
	padding: 30px;
	display: block;

	li {
		list-style: none;
	}

	.slider {

		/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size:.8em;
}

$f-4: 'Coda', sans-serif; //for the computer

$c-1:#7B72E9 ; 
$c-2:darken($c-1,30%);
 
$s-1:8.2em; // If you change the general size, you may have to fix things. 



@mixin reset {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}


input{
  &[type='range']{
   margin:22em auto;
   display:block;
   background:#fff;
   height:.4em;   
    width:22em;
    border:0;
    outline:0;
    &::-webkit-slider-thumb{
       display:block;
       background:#fff;
       height:1.4em;
       width:1.4em;
      padding:1.4em;
       border-radius:100%;    

      
      &:after{
        content:attr(val);
        margin:-.65em;
        display:block;
        color:$c-1;
        font-size:1.4em;
        font-weight:600;
        text-align:center;
      }  
    }
    
    
    
    &:before,&:after{
    content:'';
    display:block;
    position:absolute;
    border-radius:100%;
}
    &:after{
       height:1.4em;
       width:1.4em;
      
      background:#fff;
      margin:-.5em 1em;
    }
    &:before{ 
       height:1.6em; 
       width:1.6em;
      background:transparent;
      margin:-.6em -2.5em;
    }
  }
  
}
	}
}
