.woocommerce {

	.myaccount_address {
		margin-bottom: 40px;
	}
}

.calculator-button {
	background-color: $verylightgrey;
	padding: 30px 30px 50px 30px;
	border: 1px solid $lightgrey;
	text-align: center;

	i {
		width: 100%;
		text-align: center;
		font-size: 140px;
		margin-bottom: 10px;
		color: $lightgrey;
	}

	h3 {

	}

	p {

	}

	a {
		display: inline-block;
	}
}