.woocommerce {

	.myaccount_address {
		margin-bottom: 40px;
	}
}

.calculator-button {
	background-color: $verylightgrey;
	padding: 30px 30px 50px 30px;
	border: 1px solid $lightgrey;
	text-align: center;

	i {
		width: 100%;
		text-align: center;
		font-size: 140px;
		margin-bottom: 10px;
		color: $lightgrey;
	}

	h3 {

	}

	p {

	}

	a {
		display: inline-block;
	}
}

.save-quotes {
	.view-all {
		color: $mainblue;
		display: block;
		text-align: right;
	}

	ul {
		margin: 0px;

		li {
			list-style: none;
			display: block;
			padding: 14px 20px 10px 20px;
			border: 1px solid $lightgrey;
			border-bottom: 0px;
			background-color: $verylightgrey;

			a {
				color: $grey;

				&:hover {
					color: $mainblue;
				}
			}

			span {
				float: right;
				color: $grey;
				font-size: 11px;

				a {
					font-size: 11px;
					padding-left: 2px;
					padding-right: 2px;

					&:hover {
						color: $mainblue;
						text-decoration: underline;
					}
				}

				.quote-cart {
					padding: 5px 10px;
					color: #fff;
					margin-left: 15px;

					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}

				.quote-delete {
					color: $red;

					&:hover {
						color: darken($red, 10%);
					}
				}
			}
		}

		li:last-child {
			border-bottom: 1px solid $lightgrey;
		}
	}
}

#cost-total {
	background-color: #fff;
	border: 1px solid $lightgrey;
	padding: 30px;
	display: block;

	li {
		list-style: none;
	}

	.slider {

	}
}
