.woocommerce {

	.myaccount_address {
		margin-bottom: 40px;
	}
}


.account-image img {
	width: 35px;
	padding-top: 6px;
	border: 1px sold #484848;
}

.account-nav ul li.account-links a:not(.button):first-child,
.account-nav ul li.account-image a:not(.button):first-child {
	border: 0px;
}

.account-nav ul li a.has-dropdown {
	padding-left: 8px;
}

.account-nav ul li.account-image {

	a:not(.button):first-child { 
		padding: 0px;

		img {
			padding: 0px;
			margin-top: -5px;
			border: 1px solid #000;
			margin-right: -8px;
		}

	}
}

.dash-nav-wrapper {
	padding: 0px;
	background: $lightgrey; /* Old browsers */
	background: -moz-linear-gradient(left, $mainblue 48%, $lightgrey 48%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(48%,rgba(30,87,153,1)), color-stop(48%,$lightgrey)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, $mainblue 48%,$lightgrey 48%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, $mainblue 48%,$lightgrey 48%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, $mainblue 48%,$lightgrey 48%); /* IE10+ */
	background: linear-gradient(to right, $mainblue 48%,$lightgrey 48%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mainblue', endColorstr='$lightgrey',GradientType=1 ); /* IE6-9 */
	
	.page-nav {
		padding: 0px 0px;

		.columns.dash-nav {
			list-style: none;
			padding-left: 0px;
			width: 20%;
			display: block;
			text-align: center;
			padding: 30px 0px;
			background: $lightgrey;
			border-right: 1px solid darken($lightgrey, 5%);

			a {
				color: $grey;

				span {
					color: $grey;

					i {
						padding-right: 5px;
					}
				}
			}
		}

		.columns.past {
			background-color: $mainblue;
			border-right: 1px solid lighten($mainblue, 5%);

			a {
				color: #fff;
				opacity: .5;

				span {
					color: #fff;
				}

				&:hover {
					opacity: 1;
				}
			}
		}

		.columns.disabled {

			a {
				color: lighten($grey, 20%);

				span {
					color: lighten($grey, 20%);
				}
			}
		}

		.columns.current {
			background-color: $mainblue;
			border: 0px;

			a {
				color: #fff;

				span {
					color: #fff;
				}
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 0px;
				right: -20px;
				z-index: 9999999;
				width: 0;
				height: 0;
				border-top: 50px solid transparent;
				border-bottom: 55px solid transparent;
				border-left: 20px solid $mainblue;
			}
		}
	}
}

.finished {
	background: $mainblue;
	background-color: $mainblue;	
}


.breadcrumbs {
	background-color: transparent;
	border: 0px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px; 

	a {
		text-transform: none;
		color: $mainblue;

		&:hover {
			text-decoration: underline;
		}
	}

	.current-item {
		color: $grey;
	}
}

.calculator-button {
	background-color: #fff;
	padding: 30px 30px 50px 30px;
	border: 1px solid $lightgrey;
	text-align: center;
	margin-bottom: 30px;

	i {
		width: 100%;
		text-align: center;
		font-size: 140px;
		margin-bottom: 10px;
		color: $lightgrey;
	}

	h3 {

	}

	p {

	}

	a {
		display: inline-block;
	}
}

.saved-quotes {
	padding: 0px;

	h2 {
		font-size: 20px;
		font-weight: bold;
		text-transform: capitalize !important;
		margin-bottom: 20px;
	}
}

#quote-table {
	width: 100%;

	.date-header {
		text-align: right;
	}

	th.headerSortUp {  
	    background-color: #3399FF; 
	} 

	th.headerSortDown { 
	    background-color: #3399FF; 
	} 

	th.header {    
	    cursor: pointer; 
	    font-weight: bold; 
	} 
}

.quotes-wrapper {

	.quote-item {
		padding: 14px 20px 10px 20px;
		border: 1px solid $lightgrey;
		border-bottom: 0px;
		background-color: $verylightgrey;
		width: 100%;

		.columns {
			overflow: hidden; 
			text-overflow: ellipsis;
			white-space: nowrap;
		}

			.actions {
				overflow: visible;
			}

			a {
				color: $grey;

				&:hover {
					color: $mainblue;
				}
			}

			p {
				margin: 0px;
				font-size: 11px;
				padding: 5px 0px;
			}

			span {
				color: $grey;
				font-size: 11px;

				a {
					font-size: 11px;
					padding-left: 2px;
					padding-right: 2px;

					&:hover {
						color: $mainblue;
						text-decoration: underline;
					}
				}

				.quote-cart {
					padding: 5px 10px;
					color: #fff;
					margin-left: 15px;
					display: inline-block;

					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}

				.quote-delete {
					color: $red;

					&:hover {
						color: darken($red, 10%);
					}
				}

				.f-dropdown {
					p {
						text-overflow: initial;
						white-space: normal;
					}
				}
			}
	}
}

.save-quotes {
	.view-all {
		background-color: $mainblue;
		padding: 25px 0px;
		text-align: center;
		color: #fff;
		display: block;
		border: 1px solid darken($mainblue, 20%);
	}

	ul {
		margin: 0px;

		li {
			list-style: none;
			padding: 14px 20px 10px 20px;
			border: 1px solid $lightgrey;
			border-bottom: 0px;
			background-color: $verylightgrey;
			width: 100%;
			display: table;

			.columns {
				overflow: hidden; 
  				text-overflow: ellipsis;
  				white-space: nowrap;
			}

			.actions {
				overflow: visible;
			}

			a {
				color: $grey;

				&:hover {
					color: $mainblue;
				}
			}

			p {
				margin: 0px;
				font-size: 11px;
				padding: 5px 0px;
			}

			span {
				float: right;
				color: $grey;
				font-size: 11px;

				a {
					font-size: 11px;
					padding-left: 2px;
					padding-right: 2px;

					&:hover {
						color: $mainblue;
						text-decoration: underline;
					}
				}

				.quote-cart {
					padding: 5px 10px;
					color: #fff;
					margin-left: 15px;
					display: inline-block;

					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}

				.quote-delete {
					color: $red;

					&:hover {
						color: darken($red, 10%);
					}
				}

				.f-dropdown {
					p {
						text-overflow: initial;
						white-space: normal;
					}
				}
			}
		}

		li:last-child {
			border-bottom: 1px solid $lightgrey;
		}
	}
}

.small-link {
	color: $mainblue;

	&:hover {
		color: $mainblue;
		text-decoration: underline;
	}
}

.sidebar {
	z-index: 9999;
}

#cost {
	-webkit-transform: translateZ(0);

	h3 {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 18px;
		color: $mainblue;
	}
}

#cost-total {
	background-color: #fff;
	border: 1px solid $lightgrey;
	padding: 30px;
	display: block;

	li {
		list-style: none;
	}

	.slider {
  		width: 100%;
	}

	#field_2_29 {
		width: 100%;
		display: block;
		background-color: $verylightgrey;
		border: 1px solid $lightgrey;
		margin: 46px 0px 0px 0px;
		padding: 30px;

		label {
			text-align: center;
			width: 100%;
		}

		span {
			font-size: 35px;
			text-align: center;
			width: 100%;
			display: block;
			color: $grey;
		}

		.ginput_product_price_label  {
			display: none;
		}
	}

	.percent label {
		margin-bottom: 15px;
	}

	input[type="range"] {
	  -webkit-appearance: none !important;
	  width: 100%;
	  height: 10px;
	  background-color: $verylightgrey;
	  border: 1px solid $lightgrey;
	  border-radius: 3px;
	  margin: auto;
	  transition: all 0.3s ease;

	}

	.instruction {
	  display: none;
	}

	input[type="range"] {
	  width: 80%;
	  float: left;
	  z-index: 99999999;
	}

	input[type="range"]:hover {
	  background-color: $verylightgrey;
	}

	input[type="range"]::-webkit-slider-thumb {
	  width: 20px;
	  height: 20px;
	  background-color: $lightgrey;
	  border-radius: 30px;
	  z-index: 9999999999999;

	  &:focus {
		  outline-color: transparent;
		  outline-style: none;
		}
	}

	input[type="range"]::-webkit-slider-thumb:hover {
	  background-color: $lightgrey;
	}

	input[type="range"]::-webkit-slider-thumb:active {
	  box-shadow: 0px 0px 0px $lightgrey;
	}

	#rangevalue {
	  width: 20%;
	  float: right;
	  text-align: right;
	  font-family: "Quantico", sans-serif;
	  font-size: 18px;
	  display: block;
	  margin: auto;
	  padding: 0px;
	  color: $grey;
	  font-size: 16px;
	  margin-top: -3px;

	  &:after {
	  	content: '%';
	  }
	}

	#field_2_34 {
		display: none;
	}

	#field_2_33 {
		display: none;
	}

	.ginput_product_price_label {
		display: none;
	}

	#field_2_30, #field_2_32 {
		width: 50%;
		float: left;
		text-align: center;
		color: lighten($grey, 20%);
		border: 1px solid lightgrey;
		padding: 20px;
		border-top: 0px;

		label {
			color: $grey;
		}
	}

	#field_2_32 {
		border-left: 0px;
	}

	

}

.page-template-page-dashboard-php {
	.breadcrumbs {
		display: none;
	}
}

.page-template-page-calculator-php {
	.hidden {
		visibility: hidden;
		display: block;
		height: 0px;
	}

	.submit-options {
		margin-top: 40px;
		padding-top: 30px;
		border-top: 1px solid $lightgrey;

		.gfield_label.new-submit {
			display: none;
			visibility: hidden;
		}

		.gfield_radio li {
			display: block;
			width: 49%;
			float: left;

			&:last-of-type {
				float: right;

				label {
					background-color: $lightgrey;
					color: $grey;
					border: 1px solid $lightgrey;

					&:hover {
						background-color: $mainblue;
						color: #fff;
						border: 1px solid darken($mainblue, 10%);
					}

				}
			}


			label {
				margin: 0px;
				background-color: $mainblue;
				border: 1px solid darken($mainblue, 10%);
				display: block;
				padding: 25px 0px;
				color: #fff;
				text-align: center;

				&:hover {
					background-color: lighten($mainblue, 10%);
					color: #fff;
				}
			}

			input {
				display: none;
			}
		}

		.saved-percent {
			visibility: hidden;
			height: 0px;
		}
	}

	.gform_title {
		font-size: 35px !important;
		border-bottom: 1px solid lightgrey;
		padding-bottom: 20px;
		margin-bottom: 30px;
	}

	.calculator-modal {
		left: auto;
		top: auto;
		display: block;
		right: 20px;
		bottom: 40px;
		margin: 0px;
		padding: 0px;
		width: 325px;
		height: 270px;
		position: fixed;
		border: 0px;
		background: none;
		-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.4);
		box-shadow: 0 0 0px rgba(0, 0, 0, 0);
	}

	.reveal-modal-bg {
		display: none !important;
	}

	.close-reveal-modal {
		position: absolute;
		top: 5px;
		right: 10px;
		width: 100%;
		text-align: right;
		margin: 0px;
		text-decoration: none;
	}

	.f-dropdown.content {
		padding: 0px;
		background-color: transparent;
		border: 0px;
		background: transparent;
		background: none;
	}

	.calculator-link {
		display: block;
		width: 100%;
		text-align: center;
		padding: 20px 0px;
		border: 1px solid $lightgrey;
		margin-top: 20px;
		background-color: $verylightgrey;
		color: $grey;
	}

	input[type='submit'] {
		display: block;
	}

	.gform_wrapper {
		margin: 0px;
		width: 100%;
		max-width: 100%;

		.gform_heading {
			padding-bottom: 30px;
		}

		.support {
			background-color: transparent;

			input {
				background-color: $verylightgrey;
			}

			label {
				font-weight: normal;
				font-size: 13px;
			}
		}

		.gform_footer {
			margin-top: 0px;
			padding-top: 0px;
			padding-bottom: 0px;

			input[type=submit] {
				width: 100%;
				padding: 25px 0px;
				visibility: hidden;
			}
		}

	}

	.support_button {
		display: block;
		margin: 10px 0px;
		padding: 20px 0px;
		text-align: center;
		color: $lightgrey;
		background-color: $verylightgrey;
		border: 1px solid $lightgrey;

		&:hover {
			color: $lightgrey;
			background-color: $verylightgrey;
			border: 1px solid $lightgrey;
		}
	}
}

.company-info {
	padding-bottom: 0px;
	margin-bottom: 30px;

	a {
		font-size: 12px;
		padding: 10px 0px;
		color: $grey;
		background: $verylightgrey;
		border: 1px solid $lightgrey;
		display: block;
		width: 100%; 
		text-align: center;
	}

	.columns {
		padding: 0px;
	}

	.company-logo {
		padding: 20px;
		background-color: #fff;
		border: 1px solid $lightgrey;
		margin-bottom: 10px;
	}

	.company-contact {
		position: relative;
		margin-bottom: 0px;
		padding-left: 20px;

		h4 {
			font-weight: bold;
			color: $grey;
		}

		p {
			margin-bottom: 8px;
			font-size: 13px;
			line-height: 18px;
			color: $grey;
		}
	}
}

@media only screen and (max-width: 40em) {
	#cost {
		width: auto !important;
		position: static !important;
		top: 0px !important;
	}
}
