.woocommerce {

	.myaccount_address {
		margin-bottom: 40px;
	}
}

.calculator-button {
	background-color: $verylightgrey;
	padding: 30px 30px 50px 30px;
	border: 1px solid $lightgrey;
	text-align: center;

	i {
		width: 100%;
		text-align: center;
		font-size: 140px;
		margin-bottom: 10px;
		color: $lightgrey;
	}

	h3 {

	}

	p {

	}

	a {
		display: inline-block;
	}
}

.save-quotes {
	ul {
		margin: 0px;

		li {
			list-style: none;
			display: block;
			padding: 10px 20px;
			border: 1px solid $lightgrey;
			border-bottom: 0px;
			background-color: $verylightgrey;

			a {
				color: $grey;
			}

			span {
				float: right;

				a {
					font-size: 11px;
				}
			}
		}

		li:last-child {
			border-bottom: 1px solid $lightgrey;
		}
	}
}