// Forms - Use this file to style form elements, including: inputs, buttons, uploads, labels, radios, checkboxes, dropdowns, etc.

body {
	.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
		font-size: 14px;
		padding-left: 10px;
		margin-bottom: 5px;
	}

	.gform_wrapper textarea {
		font-size: 14px;
		padding-left: 10px;
		padding-top: 10px;
		margin-bottom: 5px;
	}

	.gform_confirmation_message {

		p {
			color: $grey;
		}

		a {
			color: $mainblue;
			text-decoration: underline;
		}
	}

	.gform_wrapper select {
		padding: 12px;
	}

	.gform_wrapper li.gfield.gf_list_2col label.gfield_label, .gform_wrapper li.gfield.gf_list_3col label.gfield_label, .gform_wrapper li.gfield.gf_list_4col label.gfield_label, .gform_wrapper li.gfield.gf_list_5col label.gfield_label, .gform_wrapper li.gfield.gf_list_inline label.gfield_label {
		margin: 0px;
	}

	input[type="file"], input[type="checkbox"], input[type="radio"], select {
		margin-bottom: 0px;
	}

	.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
		margin-left: 5px;
		margin-right: 12px;
	}

	.gfield_description {
		padding: 0px;

		a {
			color: $lightgrey;
			text-decoration: underline;
			font-size: 12px;
		}
	}

	.gform_wrapper span.gform_description {
		color: $grey;
		font-size: 13px;
		line-height: 20px;
	}

	input[type=range] {
	  -webkit-transition: all 0.30s ease-in-out;
	  -moz-transition: all 0.30s ease-in-out;
	  -ms-transition: all 0.30s ease-in-out;
	  -o-transition: all 0.30s ease-in-out;
	  outline: none;
	  padding: 0px 0px 0px 0px;
	  margin: 0px 0px 0px 0px;
	  border: 0px solid #DDDDDD;
	}
	 
	input[type=range]:focus {
	  box-shadow: 0 0 0px rgba(81, 203, 238, 1);
	  padding: 0px 0px 0px 0px;
	  margin: 0px 0px 0px 0px;
	  border: 0px solid rgba(81, 203, 238, 1);
	}

	.gform_wrapper .gsection {
		margin: 60px 0px 10px 0px;
		padding-top: 30px;

		i {
			position: absolute;
			top: 0px;
			font-size: 30px;
			color: $mainblue;
		}

		h2 {
			position: absolute;
			top: 0px;
			left: 30px;
			color: $mainblue;
		}
	}
}