// Forms - Use this file to style form elements, including: inputs, buttons, uploads, labels, radios, checkboxes, dropdowns, etc.

body {
	.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
		font-size: 14px;
		padding-left: 10px;
		margin-bottom: 5px;
	}

	.gform_wrapper textarea {
		font-size: 14px;
		padding-left: 10px;
		padding-top: 10px;
		margin-bottom: 5px;
	}

	.gform_confirmation_message {

		p {
			color: $grey;
		}

		a {
			color: $mainblue;
			text-decoration: underline;
		}
	}

	.gform_wrapper select {
		padding: 12px;
	}

	.gform_wrapper li.gfield.gf_list_2col label.gfield_label, .gform_wrapper li.gfield.gf_list_3col label.gfield_label, .gform_wrapper li.gfield.gf_list_4col label.gfield_label, .gform_wrapper li.gfield.gf_list_5col label.gfield_label, .gform_wrapper li.gfield.gf_list_inline label.gfield_label {
		margin: 0px;
	}

	input[type="file"], input[type="checkbox"], input[type="radio"], select {
		margin-bottom: 0px;
	}

	.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
		padding-left: 5px;
	}

	.gfield_description {
		padding: 0px;

		a {
			color: $lightgrey;
			text-decoration: underline;
			font-size: 12px;
		}
	}
}