// Forms - Use this file to style form elements, including: inputs, buttons, uploads, labels, radios, checkboxes, dropdowns, etc.

.gform_body {
	input {
		font-size: 14px;
		padding-left: 10px;
		margin-bottom: 5px;
	}
}