// Forms - Use this file to style form elements, including: inputs, buttons, uploads, labels, radios, checkboxes, dropdowns, etc.

body {
	.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
		font-size: 14px;
		padding-left: 10px;
		margin-bottom: 5px;
	}
}