/* Top Bar Main Navigation Styles */
$topbar-arrows: false; 
[data-magellan-expedition] {
	padding: 0px;
}

.top-bar .has-dropdown ul.dropdown {
	-webkit-box-shadow: 0 5px 10px 0 #707070; 
	box-shadow: 0 5px 10px 0 #707070;
}
.top-bar .has-dropdown > a:after {
	display: none;
}

.top-bar .has-dropdown > a {
	padding-right: 15px !important;
}

.top-bar {
	height: 65px; 
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.2); 
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.2); 
	position: relative; 
	z-index: 50;
	background-color: #fff;
	z-index: 200;
}

.top-bar ul {
	display: table; 
	margin: 0 auto; 
	background-color: #fff;
}

.top-bar ul li {
	display: table-cell; 
	background-color: #fff;
}

.top-bar ul li.current-menu-item > a:not(.button), .top-bar ul li.current_page_ancestor > a:not(.button) {
	color: $darkgrey;
	background-color: $verylightgrey;
}

.top-bar ul.sub-menu li.current-menu-item a:not(.button), .top-bar ul.sub-menu li.current_page_ancestor a:not(.button) {
	color: $grey;
	background-color: #fff;
}

.top-bar ul li a:not(.button) {
	color: $grey; 
	background-color: #fff; 
	background: #fff; 
	line-height: 64px; 
	font-size: 14px;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	border-right: 1px solid $verylightgrey; 
	border-bottom: 1px solid $verylightgrey;
}

.top-bar ul li:first-child { 
	border-left: 1px solid $verylightgrey;
}

.top-bar-section li a:not(.button):hover {
	background: $verylightgrey;
}

.top-bar .toggle-topbar.menu-icon a {
	color: $grey; text-indent: 50px;
}

.top-bar .toggle-topbar.menu-icon {
	left: 0px; padding-left: 15px;
}

.top-bar .toggle-topbar.menu-icon a {
	text-indent: 0px;
}

.top-bar.expanded .title-area {
	background: #fff; 
	background-color: #fff;
}

.top-bar.expanded {
	background: #fff;
}

.top-bar .has-dropdown ul li > a {
	line-height: 20px; 
	font-size: 12px; 
	border-bottom: 1px solid $verylightgrey;
}

.navigation {
	padding: 0px;
	border: 0px;
}

@media only screen and (max-width: 40em) {
	.main-nav ul {
		margin: auto;
	}

	.main-nav ul li {
		display: list-item;
	}

	.main-nav ul li:first-child {
		border-top: 1px solid $verylightgrey;
	}

	.main-nav ul li a:not(.button) {
		line-height: 25px;
	}

	.main-nav {
		height: 45px;
	}

	.top-bar .toggle-topbar.menu-icon a {
		border: 0px;
	}

	.top-bar-section .dropdown li.title h5 {
		margin: 0px;
	}

	.top-bar-section .dropdown li.title h5 a {
		color: $grey; background: $verylightgrey;
	}
} 
 



 /* Account Log In Navigation */
 .home .account-nav .title-area {
	display: none;
}
 
.account-nav {
	height: 35px; 
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.2); 
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.2); 
	position: relative; 
	z-index: 999999999; 
	background-color: $darkgrey; 
	background: $darkgrey;

	ul li a:not(.button) {
		color: $lightgrey; 
		background-color: $darkgrey; 
		background: $darkgrey; 
		line-height: 35px; 
		font-size: 12px; 
		padding: 0px 20px;
		line-height: 45px;
		border: 0px;

		.fa-search {
			padding-right: 5px;
		}
	}
	
	ul li:not(.button):first-child {
		border: 0px;
	}
	
	ul li a:not(.button):first-child { 
		border-left: 1px solid darken($darkgrey, 5%);
	}
	
	.top-bar-section li a:not(.button):hover {
		background: $darkgrey; color: #fff;
	}
	
	.top-bar-section li a:not(.button).active {
		background: $mainblue; 
		background-color: $mainblue; 
		color: #fff;
	}
}

.reveal-modal {
	z-index: 99999;

	h2 {
		font-size: 20px;
		margin-bottom: 20px;
		color: $mainblue;
		font-weight: bold;
	}

	#wp-submit {
		float: right;
		padding: 12px 0px;
		background-color: $mainblue;
		border: 1px solid darken($mainblue, 20%);
		color: #fff;
		display: block;
		width: 100%;
	}

	.membership-content {

		h2 {
			margin-bottom: 5px;
			color: $grey;
			font-weight: normal;
		}

		p {
			color: $lightgrey;
			margin-bottom: 25px;
		}

		a.support_button {
			color: $grey;
			border: 1px solid $grey;
			background-color: $lightgrey;
			display: inline-block;
			opacity: .4;

			&:hover {
				opacity: .9;
			}
		}
	}

	.membership-wrap {

		.membership {
			background-color: $verylightgrey;
			padding: 60px 0px;
			border: 2px dashed $lightgrey;

			.membership-content {
				text-align: center;
				vertical-align: middle;

			}
		}
	}
}

.reveal-modal-bg {
	z-index: 999;
}

.inner-account-nav {
	height: 45px;

	.title-area {
		 li {
		 	position: relative;

		 	img {
				height: 35px;
				width: auto;
				padding: 5px 0px 5px 20px;
			}
		 }
	}

	ul {
		background-color: transparent;

		li {
			background-color: transparent;

			a:not(.button) {
				line-height: 45px;
			}
		}
	}
}

/* Icon Navigation */

.icon-nav {
	margin-top: 20px;
	margin-bottom: 20px; 

	li {
		list-style: none;
		margin: 0px;
		text-indent: 0px;
		text-align: center;
		line-height: 18px;
	
		a {
			text-align: center;
			color: $lightgrey;
			font-size: 13px;
			line-height: 18px;
		
			i {
				display: block;
				text-align: center;
				font-size: 27px;
				padding-bottom: 10px;
				
				&:hover {
					color: $darkgrey;
				}
			}
			
			&:hover {
				color: $darkgrey;
			}
		}
		
		a.current-item {
			color: $darkgrey;
		}
	}
}

.print {
	position: relative;

	.marketing-navigation {
		position: absolute;
		top: 30px;
		right: 10px;
		z-index: 100;
	}
}

.portfolio-nav {
	.icon-nav {
		display: table;
		margin-bottom: 15px;
		margin-top: 0px;
		width: 100%;

		li {
			padding: 0px;
			margin: 0px;
			width: 11.11111111111%;
		}

		li a {
			display: table-cell;
			vertical-align: middle;
			border: 1px solid $lightgrey;
			background-color: $verylightgrey;
			border-right: 0px;
			padding: 0px 10px;
			height: 110px;
			width: 11.1111111111%;
		}

		.more-work {
			border-right: 1px solid $lightgrey;
		}

		li a.current-item {
			background-color: #fff;
		}
	}
}


@media only screen and (max-width: 40em) {
	.portfolio-nav {
		display: none;
	}

	.print {
	position: relative;

		.marketing-navigation {
			display: none;
		}
	}

	.account-nav .title-area {
		position: absolute;
	}

	.account-nav {

		ul li a:not(.button) {
			padding: 0px 10px 0px 10px;

			span {
				display: none;
			}
		}
	}
}


@media only screen and (max-width: 40em) {
.icon-nav { 
	margin-bottom: 0px;

	li {
	
		a {
			font-size: 12px;
		
			i {
				font-size: 20px;
			}
		}

	}
}


.medium-block-grid-4 {
	li {
		display: block;
		width: 50%;
		float: left;
	
		a {
			float: left;
			width: 100%;
			text-align: center;
			border: 1px solid $lightgrey;
			padding: 10px 0px;
			
			i {
				display: inline;
				display: none;
			}
		}
	
	}
}

}


.page-nav-warpper {
	background-color: $lightgrey;
	padding: 40px 0px 10px 0px;
	border-bottom: 1px solid #fff;
	-webkit-box-shadow: inset 0 0px 2px 2px rgba(0, 0, 0, 0.05); 
	box-shadow: inset 0 0px 2px 2px rgba(0, 0, 0, 0.05);
	overflow: hidden;

	.row {
		max-width: 70rem;
	}

	.page-nav { 
		-webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.2); 
		box-shadow: 0 0px 0px 0 rgba(0,0,0,.2); 
		position: relative; 
		z-index: 50;
		background-color: transparent;
		max-width: 70rem;
		padding: 0px 0.9375rem;

		ul {
			display: block;
		}
	}

	.page-nav .title-area li a:not(.button)  {
		color: $grey;
		margin: 0px;
		padding-right: 15%;
		padding-left: 5%;
		padding-bottom: 0px;
		padding-top: 0px;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 20px;
		display: block;

		i {
			position: absolute;
			color: grey;
			font-size: 90px;
			opacity: .1;
			margin-top: -20px;
			margin-left: -20px;

		}
	}

	.page-nav ul.title-area li.current_page_item a:not(.button) {
		color: $grey;
	}

	.page-nav ul {
		background-color: transparent;
	}

	.page-nav ul li {
		background-color: transparent;
	}

	.page-nav ul li.current-item a:not(.button) {
		background-color: $mainblue;
		padding: 10px 20px;
		color: #fff;
	}

	.page-nav ul li a:not(.button) {
		color: $grey;
		background-color: transparent;
		background: transparent; 
		border-right: 0px; 
		border-bottom: 0px;
		font-size: 15px;
		padding: 0px 10px;
	}

	.page-nav ul li a:not(.button):hover {
		background-color: transparent;
		color: #000;
	}

	.page-nav ul li.current_page_item a:not(.button) {
		color: #000;
	}

	.page-nav ul li:first-child { 
		border-left: 0px;
		border-right: 0px; 
		border-bottom: 0px;
	}

	.top-bar-section li a:not(.button):hover {
		background: transparent;
	}

	.page-nav .toggle-topbar.menu-icon a {
		color: $grey; 
		text-indent: 50px;
	}

	.top-bar.expanded .title-area {
		background: transparent; 
		background-color: transparent;
	}

	.page-nav.expanded {
		background: transparent;
	}

	.page-nav .has-dropdown ul li > a {
		border-bottom: 1px solid $verylightgrey;
	}
}

@media only screen and (max-width: 40em) { 
	.page-nav-warpper {
		display: none;
	}
}


.image-hover img:hover {
	background-color: #000;
	background: #000;
	opacity: .8;
}


.page-main-content {

	.wp-pagenavi {
		margin-top: 20px;
		float: right;

		a {
			padding: 3px 9px;
			color: $lightgrey;
			border: 1px solid $lightgrey;
		}

		span {
			background-color: #fff;
			color: $grey;
			border: 1px solid $grey;
			padding: 3px 9px;
		}
	}
}

.daves-wordpress-live-search_result {
	.excerpt {
		display: none !important;
	}

	a.daves-wordpress-live-search_title {
		width: auto !important;
		float: none !important;

	}

	.post_thumb {
		margin: 3px 20px 10px 0 !important;
	}
}
