.move-left > .inner-wrap {
	-webkit-transform: translate3d(-500px, 0, 0);
	-moz-transform: translate3d(-500px, 0, 0);
	-ms-transform: translate3d(-500px, 0, 0);
	-o-transform: translate3d(-500px, 0, 0);
	transform: translate3d(-500px, 0, 0);
}

.left-off-canvas-menu, .right-off-canvas-menu {
	width: 500px;
}

ul.dwls_search_results {
	right: -250px !important;
	top: 100px !important;
	display: block;
	width: 250px !important;
	background-color: transparent;

	li {

		a {
			color: #fff;
			font-weight: normal;
			font-size: 14px;
		}
	}

}

@media only screen and (max-width: 40em) {
	.move-left > .inner-wrap {
		-webkit-transform: translate3d(-250px, 0, 0);
		-moz-transform: translate3d(-250px, 0, 0);
		-ms-transform: translate3d(-250px, 0, 0);
		-o-transform: translate3d(-250px, 0, 0);
		transform: translate3d(-250px, 0, 0);
	}

	.left-off-canvas-menu, .right-off-canvas-menu {
		width: 250px;
	}
}


