.move-left > .inner-wrap {
	-webkit-transform: translate3d(-500px, 0, 0);
	-moz-transform: translate3d(-500px, 0, 0);
	-ms-transform: translate3d(-500px, 0, 0);
	-o-transform: translate3d(-500px, 0, 0);
	transform: translate3d(-500px, 0, 0);
}

.left-off-canvas-menu, .right-off-canvas-menu {
	width: 440px;
	padding: 30px;
}

body ul.dwls_search_results {
	right: -250px !important;
	top: 100px !important;
	display: block;
	width: 250px !important;
	background-color: #333333 !important;

	li {

		a {
			color: #fff;
			font-weight: normal !important;
			font-size: 14px;
		}
	}

}

.search-form {
	width: 100%;
	display: table;
	margin-top: 30px;

	#s {
		width: 100%;
		display: table-cell;
	} 

	#searchsubmit {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 2.3125rem;
		display: table-cell;
		vertical-align: middle;
		padding: 0px 10px;
		background-color: transparent;

		i {
			color: $lightgrey;
		}
	}
}

.close {
		position: absolute;
		top: 20px;
		right: 20px;

		i {
			font-size: 20px;
			color: #fff;
		}
}

@media only screen and (max-width: 40em) {
	.move-left > .inner-wrap {
		-webkit-transform: translate3d(-250px, 0, 0);
		-moz-transform: translate3d(-250px, 0, 0);
		-ms-transform: translate3d(-250px, 0, 0);
		-o-transform: translate3d(-250px, 0, 0);
		transform: translate3d(-250px, 0, 0);
	}

	.left-off-canvas-menu, .right-off-canvas-menu {
		width: 250px;
	}

	body ul.dwls_search_results {
		right: -500px !important;
		width: 500px !important;
	}
}


