.move-left > .inner-wrap {
	-webkit-transform: translate3d(-500px, 0, 0);
	-moz-transform: translate3d(-500px, 0, 0);
	-ms-transform: translate3d(-500px, 0, 0);
	-o-transform: translate3d(-500px, 0, 0);
	transform: translate3d(-500px, 0, 0);
}

.left-off-canvas-menu, .right-off-canvas-menu {
	width: auto;
	padding: 20px 30px 30px 30px;
}

.no-js {

	.left-off-canvas-menu, .right-off-canvas-menu {
		display: none;
		visibility: none;
	}
}

.no-js {

	.move-left {

		.left-off-canvas-menu, .right-off-canvas-menu {
			display: block;
		}
	}
}

body ul.dwls_search_results {
	right: -500px !important;
	top: 120px !important;
	display: block;
	width: 440px !important;
	background-color: #333333 !important;

	li {
		padding: 10px 0px;
		border-bottom: 1px solid $darkgrey;

		a {
			color: #fff;
			font-weight: normal !important;
			font-size: 14px;
		}
	}

}


.search-form {
	width: 440px;
	display: table;
	margin-top: 40px;

	#s {
		width: 100%;
		display: table-cell;
	} 

	#searchsubmit {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 2.3125rem;
		display: table-cell;
		vertical-align: middle;
		padding: 0px 10px;
		background-color: transparent;

		i {
			color: $lightgrey;
		}
	}
}

.close {
	 a {
	 	text-align: right;

		i {
			font-size: 20px;
			color: #fff;
			color: $lightgrey;
			position: relative;
			z-index: 9999999;

			&:hover {
				color: #fff;
			}
		}
	}
}

@media only screen and (max-width: 40em) {
	.move-left > .inner-wrap {
		-webkit-transform: translate3d(-250px, 0, 0);
		-moz-transform: translate3d(-250px, 0, 0);
		-ms-transform: translate3d(-250px, 0, 0);
		-o-transform: translate3d(-250px, 0, 0);
		transform: translate3d(-250px, 0, 0);
	}

	.left-off-canvas-menu, .right-off-canvas-menu {
		width: 230px;
		padding: 10px 10px 10px 10px;
	}

	body ul.dwls_search_results {
		right: -250px !important;
		width: 220px !important;
		top: 80px !important;
	}

	.search-form {
		margin-top: 25px;
	}
}


