body {
	font-family: 'Open Sans', sans-serif;
}

p {
	line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #03f;

	&:hover {
		color: #03f;
	}
}

::selection {
	background-color: $mainorange;
	color: inherit;
	line-height: 1.5em;
}