.woocommerce .woocommerce-message {
	border: 0px;
	background-color: $verylightgrey;
	background: $verylightgrey;
	border: 1px solid $lightgrey;
	color: $grey;
	margin-top: 4px;
	text-shadow: none;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.05), inset 0 0px 0px rgba(0,0,0,0.015), inset 0 0px 0 #fff, 0 0px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0 0px 0px rgba(0,0,0,0.05), inset 0 0px 0px rgba(0,0,0,0.015), inset 0 0px 0 #fff, 0 0px 0px rgba(0,0,0,0.3);

	&:before {
		background-color: transparent;
		box-shadow: none;
		color: $grey
	}
}

.woocommerce {
	.cart-collaterals .cart_totals table {
		width: 100%;
	}

	.cart_totals h2 {
		font-size: 20px;
	}

	.cart .secondary_button.checkout-button.button.alt {
		background-color: $mainblue;
		border: 1px solid darken($mainblue, 20%);
		text-shadow: none;
		box-shadow: none;
		background: $mainblue;
		padding: 20px 30px;
		margin-bottom: 15px;
	}

	.cart .support_button.button {
		display: none;
	}

	table.cart td.product-subtotal {
		text-align: center;
	}

	table.cart .product-remove a.remove {
		width: 100%;
		text-align: center;
		color: $red;
	}

	td.product-name dl.variation dt:nth-child(n+6) {
		display: none;
	}

	td.product-name dl.variation dd:nth-child(n+7) {
		display: none;
	}
}


.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {
		width: 100% !important;
	}

.single-product {
	.gform_wrapper {
		max-width: 100%;
		width: 100%;
	}

	.support_button {
		background-color: $verylightgrey;
		border: 1px solid $lightgrey;
		color: $grey;
		padding: 25px 0px;
		width: 100%;
		display: block;
		text-align: center;

		&:hover {
			background-color: darken($verylightgrey, 5%);
		}
	}

	.woocommerce-tabs {
		display: none;
	}

	.woocommerce-breadcrumb {
		display: none;
	}

	.saved-percent {
		display: none;
	}

	.cost, .submit-options, .buttons_added {
		overflow: hidden;
		visibility: hidden;
		height: 0px;
		display: block;
		margin: 0px !important;
		padding: 0px !important;
	}

	.gsection {
		display: none !important;
	}

	.gform_wrapper .gform_footer {
		height: 0px;
		width: 0px;
		margin: 0px;
		padding: 0px;
		display: block;
	}

	.gfield {
		margin: 0px;
		padding-bottom: 5px;
		border-bottom: 1px solid $lightgrey;
	}

	.ginput_container {
		overflow: hidden;
	}

	.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
		padding: 0px;
		margin: 0px;
		border: 0px;
		background-color: transparent;
		box-shadow: none;
		height: auto;
	}

	.gform_wrapper .top_label .gfield_label {
		margin: 0px;
		padding: 0px;
	}

	.gform_wrapper select {
		padding: 0px;
		border: 0px;
		background-color: transparent;
		width: 120% !important;
		font-size: 14px;
	}

	.gform_wrapper ul li.half_left, .gform_wrapper ul li.half_right {
		float: clear;
		width: 100%;
	}

	.gfield_description {
		display: none;
	}

	.gform_wrapper .gfield_required {
		display: none;
	}

	.product_totals {

		label {
			font-size: 20px;
		}

		.formattedTotalPrice {
			font-size: 20px;
		}

		.gfield {
			border: 1px solid lightgrey;
			padding: 20px;
			height: 75px;
			background-color: #fff;
		}

		.gform_footer {
			padding: 0px;
		}

		.amount {
			float: right;
		}
	}

	div.product form.cart button.button {
		padding: 25px;
		width: 100%;
		background-color: $mainblue;
		margin-top: 10px;
		background: $mainblue;
		text-shadow: 0 0px 0 rgba(0,0,0,0.6);
		border-radius: 0px;
		border: 1px solid darken($mainblue, 30%);
		box-shadow: rgba(0, 0, 0, 0.0745098) 0px 0px 0px 0px inset, rgba(255, 255, 255, 0.298039) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 0px 0px 0px;
	}	
}

.page-template-page-checkout-php {

	#billing_country_field {
		display: none;
	}

	form .form-row {
		padding: 0px;
	}

	form .form-row label {
		padding: 0px;
		margin-bottom: 3px;
	}

	form .form-row textarea#order_comments {
		height: 450px;
	}

	#shiptobilling {
		padding: 5px 20px;
		background-color: $verylightgrey;
		border: $lightgrey;
		color: $grey;
	}
}