.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {
		width: 100% !important;
	}

.woocommerce {

	.woocommerce-tabs {
		display: none;
	}

	.woocommerce-breadcrumb {
		display: none;
	}

	.saved-percent {
		display: none;
	}

	.cost, .submit-options, .buttons_added {
		visibility: hidden;
		height: 0px;
		display: block;
	}

	.gsection {
		display: none !important;
	}

	.gform_wrapper .gform_footer {
		height: 0px;
		width: 0px;
		margin: 0px;
		padding: 0px;
		display: block;
	}

	.gfield {
		margin: 0px;
	}

	input {
		padding: 0px;
		margin: 0px;
		border: 0px;
		background-color: transparent;
		box-shadow: none;
	}

	label {
		margin: 0px;
		padding: 0px;
	}
	
}