.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {
		width: 100% !important;
	}

.single-product {

	.woocommerce-tabs {
		display: none;
	}

	.woocommerce-breadcrumb {
		display: none;
	}

	.saved-percent {
		display: none;
	}

	.cost, .submit-options, .buttons_added {
		overflow: hidden;
		visibility: hidden;
		height: 0px;
		display: block;
		margin: 0px !important;
		padding: 0px !important;
	}

	.gsection {
		display: none !important;
	}

	.gform_wrapper .gform_footer {
		height: 0px;
		width: 0px;
		margin: 0px;
		padding: 0px;
		display: block;
	}

	.gfield {
		margin: 0px;
		padding-bottom: 5px;
		border-bottom: 1px solid $lightgrey;
	}

	.ginput_container {
		overflow: hidden;
	}

	.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
		padding: 0px;
		margin: 0px;
		border: 0px;
		background-color: transparent;
		box-shadow: none;
		height: auto;
	}

	.gform_wrapper .top_label .gfield_label {
		margin: 0px;
		padding: 0px;
	}

	.gform_wrapper select {
		padding: 0px;
		border: 0px;
		background-color: transparent;
		width: 120% !important;
		font-size: 14px;
	}

	.gform_wrapper ul li.half_left, .gform_wrapper ul li.half_right {
		float: clear;
		width: 100%;
	}

	.gfield_description {
		display: none;
	}

	.gform_wrapper .gfield_required {
		display: none;
	}

	.product_totals {

		label {
			font-size: 20px;
		}

		.formattedTotalPrice {
			font-size: 20px;
		}
	}

	.single_add_to_cart_button {
		padding: 25px;
		width: 100%;
		background-color: $mainblue;
		margin-top: 10px;
		background: $mainblue;
	}
	
}