.woocommerce-tabs {
	display: none;
}

.woocommerce-breadcrumb {
	display: none;
}

.cost  {
	display: none;
}

.saved-percent {
	display: none;
}

.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {
	width: 100%;
}