$mainblue: #4f98c4;
$lightblue: #9cd7fa;

$mainorange: #e6b279;
$lightorange: #daab7d;

$grey: #818080;
$lightgrey: #d1d1d1;
$verylightgrey: #f2f2f2;
$darkgrey: #4f4f4f;

$red: #c0392b;
$green: #78cb86;
$orange: #f39c12;
$yellow: #f1c40f;