body.login {
	background-image: url('../images/pattern.jpg');
}

#login {
	width: 320px;
	padding: 74px 0 0;
	margin: auto;
}

.login h1 a {
	background-image: url('../images/login-logo.png');
}

.login form {
	padding: 26px 24px 106px;
}

.login form .forgetmenot {
	margin-bottom: 10px;
}

.wp-core-ui .button-primary {
	padding: 12px 23px !important;
	color: #fff;
	font-size: 14px;
	border: 1px solid black;
	width: 100%; 
	display: block;
	height: auto !important;
	background: none;
	background-color: #4f98c4;
	margin-top: 15px;
}

.login #backtoblog {
	margin: 0px;
}

.login #backtoblog a {
	padding: 12px 23px;
	background-color: lightgray;
	color: gray !important;
	font-size: 14px;
	border: 1px solid gray;
	width: auto;
	display: block;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 0px 0px;
}