body.login {
	background-image: url('../images/pattern.jpg');
}

.login form {
	padding: 26px 24px 76px;
}

.login form .forgetmenot {
	margin-bottom: 10px;
}

.wp-core-ui .button-primary {
	padding: 12px 23px !important;
	color: #fff;
	font-size: 14px;
	border: 1px solid black;
	width: 100%; 
	display: block;
	height: auto !important;
	background: none !important;
	background-color: #4f98c4;
	margin-top: 15px;
}