body {
	background-color: #dadada;
	padding: 5%;
}

.page-main-content {
	background-color: #fff;
	width: 70%;
	padding: 5%;
}

.footer-wrapper {
	display: none;
}

.account-nav {
	display: none;
}

.main-nav {
	display: none;
}

.page-nav-warpper {
	display: none;
}

#myModal {
	display: none;
}

#cost {
	display: none;
}

.gform_footer {
	display: none;
}

.right-off-canvas-menu {
	display: none;
}

.ginput_container {
	overflow: hidden;
}

select {
	width: 125% !important;
   background: transparent;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}

input {
	background: transparent;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}

.gfield_description {
	display: none;
}

.clear-break {
	display: none;
}

.gfield_label {
	width: 30%;
	float: left;
}

.ginput_container {
	overflow: hidden;
	width: 60%;
	float: right;
}

.gform_wrapper .top_label .gfield_label {
	margin: 0px !important;
}

.gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
	width: 100% !important;
	clear: both !important;
	margin: 0px !important;
}

.gform_wrapper .top_label li.gfield.gf_right_half {
	border: 0px !important;
}

.gform_wrapper ul li.gfield {
	border-bottom: 1px dotted rgb(194, 194, 194);
	margin: 0px;
	padding: 0px;
}

.field_admin_only {
	display: none;
}

.gform_wrapper ul li.gsection {
	border-bottom: 0px dotted #CCC;
	padding: 30px 0px 10px 0px !important;
}