body {
	background-color: lightgrey;
}

.footer-wrapper {
	display: none;
}

.account-nav {
	display: none;
}

.main-nav {
	display: none;
}

.page-nav-warpper {
	display: none;
}

#myModal {
	display: none;
}

#cost {
	display: none;
}

.gform_footer {
	display: none;
}

.right-off-canvas-menu {
	display: none;
}

.ginput_container {
	overflow: hidden;
}

select {
	width: 125% !important;
   background: transparent;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}

input {
	background: transparent;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}

.gfield_description {
	display: none;
}