body {
	background-color: #dadada;
	padding: 5%;
}

.clear {
	clear: both;
}

.page-main-content {
	background-color: #fff;
	width: 100%;
	padding: 5%;
}

.footer-wrapper {
	display: none;
}

.account-nav {
	display: none;
}

.main-nav {
	display: none;
}

.page-nav-warpper {
	display: none;
}

#myModal {
	display: none;
}

hr {
	display: none;
}

#cost {
	display: none;
}

.gform_footer {
	display: none;
}

.right-off-canvas-menu {
	display: none;
}


.quote-info {
	width: 40%;
	float: left;
}

.company-info {
	width: 55%;
	float: right;
	text-align: right;
}

.company-info p {
	margin: 0px;
}

.quote-num {
	margin-bottom: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

h2, h3 {
	margin: 0px;
}





.ginput_container {
	overflow: hidden;
}

.gform_wrapper form {
	border-top: 2px solid black;
	padding-top: 20px;
}

select {
	width: 125% !important;
   background: transparent;
   font-size: 13px !important;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}

input {
	background: transparent;
   font-size: 13px !important;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}

.gfield_description {
	display: none;
}

.clear-break {
	display: none;
}

.gfield_label {
	width: 30%;
	float: left;
}

.ginput_container {
	overflow: hidden;
	width: 60%;
	float: right;
}

.gform_heading {
	display: none;
}

.gform_wrapper .top_label .gfield_label {
	margin: 0px !important;
	padding: 3px 0px;
}

.gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
	width: 100% !important;
	clear: both !important;
	margin: 0px !important;
}

.gform_wrapper .top_label li.gfield.gf_right_half {
	border: 0px !important;
}

.gform_wrapper ul li.gfield {
	border-bottom: 1px dotted rgb(232, 232, 232);
	margin: 0px;
	padding: 0px;
}

.field_admin_only {
	display: none;
}

.gform_wrapper ul li.gsection {
	border-bottom: 0px dotted #CCC;
	padding: 30px 0px 10px 0px !important;
	border: 0px;
}

.support_button {
	display: none;
}

.gform_wrapper ul li.percent, .gform_wrapper ul li.markup, .gform_wrapper ul li.your-cost, .gform_wrapper ul li.cost-mark-up, .gform_wrapper ul li.hidden, .gform_wrapper ul li.total{
	font-size: 0px;
	color: #fff;
	border: 0px;
}

.gform_wrapper ul li.percent input {
	display: none;
}

.gform_wrapper ul li.retail label.gfield_label {
	display: none;
}

.gform_wrapper ul li.retail .ginput_container {
	width: 100%;
	float: left;
	border-top: 2px solid #000;
	padding-top: 20px
}

.gform_wrapper ul li.retail .ginput_product_price_label {
	float: left; 
	width: 40%;
	font-weight: bold;
	font-size: 15px;
	margin: 0px;
}

.gform_wrapper ul li.retail .ginput_product_price {
	float: right;
	width: 60%;
	font-size: 15px;
	color: #000;
	font-weight: bold;
}
