body {
	background-color: lightgrey;
}

.footer-wrapper {
	display: none;
}

.account-nav {
	display: none;
}

.main-nav {
	display: none;
}

.page-nav-warpper {
	display: none;
}

#myModal {
	display: none;
}