body {
	background-color: #dadada;
	padding: 1%;
}

.clear {
	clear: both;
}

.page-main-content {
	background-color: #fff;
	width: 100%;
	padding: 4%;
	max-width: 960px;
	border: 1px solid rgb(190, 190, 190);
	-webkit-box-shadow: 0 0 5px 0 #C9C9C9;
	box-shadow: 0 0 5px 0 #C9C9C9;
}

.footer-wrapper {
	display: none;
}

.account-nav {
	display: none;
}

.main-nav {
	display: none;
}

.page-nav-warpper {
	display: none;
}

#myModal {
	display: none;
}

hr {
	display: none;
}

#cost {
	display: none;
}

.gform_footer {
	display: none;
}

.right-off-canvas-menu {
	display: none;
}


.quote-info {
	width: 40%;
	float: left;
}

.company-info {
	width: 55%;
	float: right;
	text-align: right;
	margin-bottom: 0px;
	margin-top: 0px;
}

.company-info p {
	margin: 10px 0px;
}

#quote-num {
	margin-bottom: 20px;
}

#name {
	font-weight: bold;
	font-size: 16px !important;
}

h2, h3 {
	margin: 0px;
}

h2 {
	font-size: 40px;
	margin-bottom: 20px;
	margin-top: 10px;
}

h3 {
	margin-bottom: 10px;
}

.company-info i {
	font-size: 70px;
}

.company-info h3 {
	margin-bottom: 15px;
}

#quote-num input {
	width: auto;
}

#notes {
	background-color: #F4F4F4;
	padding: 20px;
	border: 1px soldi rgb(224, 224, 224);
}

#notes label {
	width: 100%;
	display: block;
	font-weight: bold;
	padding-bottom: 10px;
	color: grey;
}

#notes textarea {
	width: 100%;
	background: transparent;
	border: 0px;
}












.ginput_container {
	overflow: hidden;
}

.gform_wrapper form {
	border-top: 2px solid black;
	padding-top: 20px;
	max-width: 100%;
	margin: 0px;
	margin-top: 30px;
}

select {
	width: 125% !important;
   background: transparent;
   font-size: 13px !important;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   width: 100%;
}

input {
	background: transparent;
   font-size: 13px !important;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   width: 100%;
}

.gfield_description {
	display: none;
}

.clear-break {
	display: none;
}

.gfield_label {
	width: 30%;
	float: left;
}

.ginput_container {
	overflow: hidden;
	width: 60%;
	float: right;
}

.gform_heading {
	display: none;
}

.gform_wrapper .top_label .gfield_label {
	margin: 0px !important;
	padding: 3px 0px;
}

.gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
	width: 100% !important;
	clear: both !important;
	margin: 0px !important;
}

.gform_wrapper .top_label li.gfield.gf_right_half {
	border: 0px !important;
}

.gform_wrapper ul li.gfield {
	border-bottom: 1px dotted rgb(232, 232, 232);
	margin: 0px;
	padding: 0px;
}

.field_admin_only {
	display: none;
}

.gform_wrapper ul li.gsection {
	border-bottom: 0px dotted #CCC;
	padding: 15px 0px 10px 0px !important;
	border: 0px;
}

.support_button {
	display: none;
}

.gform_wrapper ul li.percent, .gform_wrapper ul li.markup, .gform_wrapper ul li.your-cost, .gform_wrapper ul li.cost-mark-up, .gform_wrapper ul li.hidden, .gform_wrapper ul li.total{
	font-size: 0px;
	color: #fff;
	border: 0px;
}

.gform_wrapper ul li.percent input {
	display: none;
}

.gform_wrapper ul li.retail label.gfield_label {
	display: none;
}

.gform_wrapper ul li.retail .ginput_container {
	width: 100%;
	float: left;
	border-top: 2px solid #000;
	padding-top: 20px;
	border-bottom: 2px solid #000;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.gform_wrapper ul li.retail .ginput_product_price_label {
	float: left; 
	width: 40%;
	font-weight: bold;
	font-size: 15px;
	margin: 0px;
}

.gform_wrapper ul li.retail .ginput_product_price {
	float: right;
	width: 60%;
	font-size: 15px;
	color: #000;
	font-weight: bold;
}

.retail .ginput_product_price {
	text-align: right;
	font-size: 20px;
}
